  html, body {
    margin: 0;
    padding: 0;
    background-color: #f2f1ed;
    font-family: "source sans pro", sans-serif;
    font-weight: 400;
    color: #434243;
    height: 100%;
  }
  .wrapper{
    min-height: 100%;
    margin-bottom: -3em;
  }
  .wrapper::after {
    content: "";
    display: block;
  }
  .wrapper::after, footer{
    height: 3em;
  }
  footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5em 0;
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #666;
    color: #fff;
  }
  footer div{
    margin-right: 3em;
  }
  footer h4, footer p{
    margin: 0;
    text-align: right;
  }
  h2{
    color: #121212;
    font-weight: 700;
    margin: 0;
    padding: .5em 0 0 0;
  }
  #map {
    height: 480px;
    margin-bottom: 2em;
    border-bottom: 1px solid rgba(0,0,0,.12);
  }

  .bottom-gap {
    margin-bottom: 48px;
  }
  .keyFeats {
    max-width: 380px;
    min-width: 220px;
    width: 80%;
  }

  .keyFeats:hover, .writeUp:hover{
    -webkit-transform: translate3d(0,-.3125em,0);
    -moz-transform: translate3d(0,-.3125em,0);
    transform: translate3d(0,-.3125em,0);
    -webkit-transition: -webkit-transform 125ms ease;
    -moz-transition: -moz-transform 125ms ease;
    transition: transform 125ms ease;
  }

  .keyFeats, .writeUp{
  -webkit-transition: -webkit-transform 125ms ease;
  -moz-transition: -moz-transform 125ms ease;
  transition: transform 125ms ease;
  height: 0%;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: .25em .25em 0 rgba(0,0,0,.12);
  padding: 2vh 2.3em 6vh;
  }
  .writeUp{
    max-width: 580px;
    min-width: 220px;
    width: 80%;
  }

  .keyFeats ul {
    margin: 0;
    padding: 0 0 0 2em;
  }
  .keyFeats li {
      padding: 0 2em 1em 0;
  }
  .keyFeats li:last-of-type{
    padding: 0 2em 0 0;
  }
  .row .row {
     margin: 0 auto !important;
  }

.hoodDescriptionWrapper {
margin: 0 2.56vw 4em;
min-height: 10vh;
}
.hoodDescription{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
position: relative;
}



@media screen and (max-width: 1065){
.writeUp{
  padding: 0;
}
}
